.gameBoardWrapper {
    min-height: 100vh;
    width: 100%;
    color: white;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.gameBoardContent {
    display: flex;
    flex-grow: 1;
    border: 3px solid white;
    min-height: 480px;
    height: 560px;
    max-height: 700px;
    box-shadow: 0 0 5px #8000ff, 0 0 10px #8000ff, 0 0 15px #8000ff, 0 0 20px #8000ff;
    border-radius: 25px;
    position: relative;
}

.gameBoardContent.playerScored {
    box-shadow: 0 0 5px #0073ff, 0 0 10px #0073ff, 0 0 15px #0073ff, 0 0 20px #0073ff;
}

.gameBoardContent.computerScored {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
}

.playerBoardSide {
    width: 50%;
    height: 100%;
    position: relative;
}

.playerFigure {
    position: absolute;
    top: calc(50% - (100px / 2));
    left: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid #2200ff;
    background-color: #0073ff;
    box-shadow: 0 0 5px #0044ff, 0 0 10px #0044ff, 0 0 15px #0044ff, 0 0 20px #0044ff;
    z-index: 100;
}


.playerFigure.pointer-event-off {
    pointer-events: none;
}

.gameBoardMidLine {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    border: 1px solid white;
    box-shadow: 0 0 5px #8000ff, 0 0 10px #8000ff, 0 0 15px #8000ff, 0 0 20px #8000ff;
    z-index: 2;
}

.gameBoardMidCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 5px #8000ff, 0 0 10px #8000ff, 0 0 15px #8000ff, 0 0 20px #8000ff;
    z-index: 0;
}

.puck {
    position: absolute;
    border: 10px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
    z-index: 100;
}

.computerBoardSide {
    width: 50%;
    height: 100%;
    position: relative;
}

.computerFigure {
    position: absolute;
    top: calc(50% - (100px / 2));
    right: 10%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid #ff0000;
    background-color: #550000;
    box-shadow: 0 0 5px #ff5e5e, 0 0 10px #ff5e5e, 0 0 15px #ff5e5e, 0 0 20px #ff5e5e;
    z-index: 100;
}

.computerGoalCircle, .playerGoalCircle {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 200px;
    height: 200px;
    transform: translatey(-50%);
    background-color: transparent;
    border: 3px solid white;
    border-radius: 200px 0 0 200px;
    box-shadow: 0 0 5px #8000ff, 0 0 10px #8000ff, 0 0 15px #8000ff, 0 0 20px #8000ff;
}

.computerGoalPost, .playerGoalPost {
    position: absolute;
    top: 50%;
    right: -0.4%;
    width: 1px;
    height: 200px;
    transform: translatey(-50%);
    background-color: transparent;
    border: 3.2px solid #ff0000;
    box-shadow: 0 0 15px #ff0000, 0 0 20px #ff0000;
    z-index: 50;
}

.playerGoalCircle {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    border-radius: 0 200px 200px 0;
}

.gameBoardMidLine.playerScored, .gameBoardMidCircle.playerScored, .computerGoalCircle.playerScored, .playerGoalCircle.playerScored, 
.winnerContent.playerWon {
    box-shadow: 0 0 5px #0073ff, 0 0 10px #0073ff, 0 0 15px #0073ff, 0 0 20px #0073ff;
}

.gameBoardMidLine.computerScored, .gameBoardMidCircle.computerScored, .computerGoalCircle.computerScored, .playerGoalCircle.computerScored, 
.winnerContent.computerWon {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
}

.computerGoalPost.playerScored, .playerGoalPost.playerScored, .replayBtn.playerWon, .winnerHomeBtn.playerWon {
    box-shadow: 0 0 5px #0073ff, 0 0 10px #0073ff, 0 0 15px #0073ff, 0 0 20px #0073ff;
    border-color: #0073ff;
}

.computerGoalPost.computerScored, .playerGoalPost.computerScored, .replayBtn.computerWon, .winnerHomeBtn.computerWon {
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
    border-color: #ff0000;
}

.playerGoalPost {
    top: 50%;
    left: -0.4%;
    transform: translate(-0.4%, -50%);
    border: 3.2px solid #0044ff;
    box-shadow: 0 0 15px #0044ff, 0 0 20px #0044ff;
}

.scoreBoardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    height: 75px;
    margin: 10px 0;
}

#playerScore, .replayBtn.playerWon, .winnerHomeBtn.playerWon, .winnerTxt.playerWon, .goalTxt.playerScored, .mobilePlayerScore {
    text-shadow: 0 0 5px #0073ff, 0 0 10px #0073ff, 0 0 15px #0073ff, 0 0 20px #0073ff;
}

#computerScore, .replayBtn.computerWon, .winnerHomeBtn.computerWon, .winnerTxt.computerWon, .goalTxt.computerScored, .mobileComputerScore {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
}

.goalTxtWrapper {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}

.goalTxt {
    font-size: 64px;
    letter-spacing: 10px;
}

.bottomPageBtnsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    height: 75px;
    margin: 10px 0;
}

.unStuckBtn, .homeBtn, .replayBtn, .winnerHomeBtn {
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 5px #340068, 0 0 10px #340068, 0 0 15px #340068, 0 0 20px #340068;
    border: 1px solid white;
    padding: 12px;
    width: 180px;
    box-shadow: 0 0 5px #340068, 0 0 10px #340068, 0 0 15px #340068, 0 0 20px #340068;
    transition: all 0.2s ease-in-out;
}

.unStuckBtn:hover, .homeBtn:hover, .replayBtn:hover, .winnerHomeBtn:hover, .mobileHomeBtn:hover, .mobileUnstuckBtn:hover {
    border-color: #340068;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff;
}

.winnerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

.winnerContent {
    width: fit-content;
    background-color: black;
    padding: 48px;
    border: 3px solid white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px #8000ff, 0 0 10px #8000ff, 0 0 15px #8000ff, 0 0 20px #8000ff;
    gap: 48px;
}

.winnerTxt {
    text-shadow: 0 0 5px #340068, 0 0 10px #340068, 0 0 15px #340068, 0 0 20px #340068;
    font-size: 20px;
}

.winnerBtnsWrapper {
    display: flex;
    gap: 48px;
}

.replayBtn, .winnerHomeBtn {
    width: 200px;
    padding: 15px;
}

.winnerHomeBtn.playerWon:hover, .replayBtn.playerWon:hover {
    border-color: #0073ff;
}

.winnerHomeBtn.computerWon:hover, .replayBtn.computerWon:hover {
    border-color: #ff0000;
}

.mobilePlayerScore, .mobileComputerScore {
    display: none;
    padding: 15px;
    position: absolute;
    right: 0;
}

.mobileComputerScore {
    bottom: 0;
}

.mobilePlayerScore {
    top: 0;
}

.mobileUnstuckBtn {
    right: unset;
    left: 15px;
    width: fit-content;
}

.mobileHomeBtn, .mobileUnstuckBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 0 0 5px #340068, 0 0 10px #340068, 0 0 15px #340068, 0 0 20px #340068;
    border: 1px solid white;
    box-shadow: 0 0 5px #340068, 0 0 10px #340068, 0 0 15px #340068, 0 0 20px #340068;
    transition: all 0.2s ease-in-out;
    z-index: 200;
}

.mobileHomeBtnIcon, .mobileUnstuckBtnIcon {
    width: 18px;
    height: 18px;
}

@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
    .gameBoardWrapper {
        padding-right: calc(80px + (100vw - 1536px) / 15);
        padding-left: calc(80px + (100vw - 1536px) / 15);
    }
    .playerGoalCircle, .computerGoalCircle {
        width: calc(200px + (100vw - 1536px) / 20);
        height: calc(200px + (100vw - 1536px) / 20);
    }
    .playerGoalPost, .computerGoalPost {
        height: calc(200px + (100vw - 1536px) / 20);
    }
    .playerFigure, .computerFigure {
        width: calc(100px + (100vw - 1536px) / 25);
        height: calc(100px + (100vw - 1536px) / 25);
    }
    .playerFigure {
        top: calc(50% - (calc(100px + (100vw - 1536px) / 25) / 2));
        left: calc(5% + (100vw - 1536px) * 0.00001);
        touch-action: none;
    }
    .computerFigure {
        top: calc(50% - (calc(100px + (100vw - 1536px) / 25) / 2));
        right: calc(5% + (100vw - 1536px) * 0.00001)
    }
    .puck {
        width: calc(40px + (100vw - 1536px) / 83.7);
        height: calc(40px + (100vw - 1536px) / 83.7);
    }
    .goalTxt {
        font-size: calc(64px + (100vw - 1536px) / 30);
    }
  }

@media (max-width: 1536px) {
    .gameBoardWrapper {
        padding-right: calc(80px + (100vw - 1536px) / 15);
        padding-left: calc(80px + (100vw - 1536px) / 15);
    }
    .playerGoalCircle, .computerGoalCircle {
        width: calc(200px + (100vw - 1536px) / 20);
        height: calc(200px + (100vw - 1536px) / 20);
    }
    .playerGoalPost, .computerGoalPost {
        height: calc(200px + (100vw - 1536px) / 20);
    }
    .playerFigure, .computerFigure {
        width: calc(100px + (100vw - 1536px) / 25);
        height: calc(100px + (100vw - 1536px) / 25);
    }
    .playerFigure {
        top: calc(50% - (calc(100px + (100vw - 1536px) / 25) / 2));
    }
    .computerFigure {
        top: calc(50% - (calc(100px + (100vw - 1536px) / 25) / 2));
    }
    .puck {
        width: calc(40px + (100vw - 1536px) / 83.7);
        height: calc(40px + (100vw - 1536px) / 83.7);
    }
    .goalTxt {
        font-size: calc(64px + (100vw - 1536px) / 30);
    }
  }

  @media (max-width: 800px) {
    .gameBoardWrapper {
        padding-top: calc(31px + (100vw - 800px) / 30);
        padding-bottom: calc(31px + (100vw - 800px) / 30);
        overflow-y: auto;
    }
    .scoreBoardWrapper {
        display: none;
    }
    .gameBoardContent {
        display: flex;
        flex-direction: column;
    }
    .computerBoardSide, .playerBoardSide {
        width: 100%;
    }
    .playerBoardSide {
        order: 2;
    }
    .playerGoalCircle, .computerGoalCircle {
        width: calc(150px + (100vw - 800px) / 12);
        height: calc(150px + (100vw - 800px) / 12);
    }
    .playerGoalCircle {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        border-radius: 200px 200px 0 0;
    }
    .computerGoalCircle {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        border-radius: 0 0 200px 200px;
    }
    .playerGoalPost, .computerGoalPost {
        height: unset;
        width: calc(150px + (100vw - 800px) / 12);
    }
    .playerGoalPost {
        top: unset;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .computerGoalPost {
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .gameBoardMidLine {
        height: unset;
        width: 100%;
    }
    .gameBoardMidCircle {
        width: calc(150px + (100vw - 800px) / 10);
        height: calc(150px + (100vw - 800px) / 10);
    }
    .playerFigure, .computerFigure {
        width: calc(70px + (100vw - 800px) / 25);
        height: calc(70px + (100vw - 800px) / 25);
    }
    .playerFigure {
        top: unset;
        bottom: calc(15% + (100vw - 800px) / 50);
        left: calc(45% + (100vw - 800px) / 50);
    }
    .computerFigure {
        top: calc(15% + (100vw - 800px) / 50);
        left: calc(45% + (100vw - 800px) / 50);
    }
    .puck {
        width: calc(31.2px + (100vw - 800px) / 50);
        height: calc(31.2px + (100vw - 800px) / 50);
        justify-content: center;
    }
    .goalTxt {
        text-align: center;
        line-height: 40px;
        font-size: calc(40px + (100vw - 800px) / 30);
    }
    .bottomPageBtnsWrapper {
        padding: 5px;
        gap: calc(64px + (100vw - 800px) / 12);
        height: 45px;
    }
    .homeBtn, .unStuckBtn {
        padding: calc(12px + (100vw - 800px) / 100);
        width: calc(180px + (100vw - 800px) / 8);
        font-size: calc(13px + (100vw - 800px) / 100);
    }
    .mobileComputerScore, .mobilePlayerScore {
        display: block;
    }
    .winnerContent {
        padding: calc(48px + (100vw - 800px) / 20);
    }
    .winnerTxt {
        text-align: center;
        font-size: calc(20px + (100vw - 800px) / 60);
    }
    .winnerBtnsWrapper {
        gap: calc(48px + (100vw - 800px) / 20);
    }
    .replayBtn, .winnerHomeBtn {
        width: calc(200px + (100vw - 800px) / 5);
        padding: calc(15px + (100vw - 800px) / 100);
        font-size: calc(13.3333px + (100vw - 800px) / 100);
    }
  }

  @media (max-width: 768px) {
    .homeBtn, .unStuckBtn {
        display: none;
    }
  }